# 1. Concatenar archivos de 2010 a 2019

Los datos de ecobici se encuentran disponibles al público en la siguiente en [la página de datos abiertos de ecobici](https://www.ecobici.cdmx.gob.mx/es/informacion-del-servicio/open-data). Están disponibles de febrero de 2010 a septiembre de 2019. Sin embargo se encuentran separados por año y mes, y hasta el momento la API no ha funcionado. Por esta razón se han tenido que bajar uno a uno y con este script se concatenarán en un sólo archivo csv los datos por año

In [1]:
import os
import glob
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

os.chdir("/home/pradel/Desktop/ecobici_viz/data/2019")

Se importan los archivos csv de la carpeta antes mencionada

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

Se concatenan todos los archivos (basado en las mismas columnas) en un sólo `csv` llamado `ecobici.csv`.

In [4]:
ecobici_2019 = pd.concat([pd.read_csv(f) for f in all_filenames])

ecobici_2019.to_csv("ecobici_2019.csv", index=False, encoding = 'utf-8-sig')

In [5]:
df = pd.read_csv("ecobici_2019.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6396090 entries, 0 to 6396089
Data columns (total 10 columns):
Bici                     object
Ciclo_Estacion_Arribo    object
Ciclo_Estacion_Retiro    int64
Edad_Usuario             int64
Fecha_Arribo             object
Fecha_Retiro             object
Genero_Usuario           object
Hora_Arribo              object
Hora_Retiro              object
Unnamed: 9               object
dtypes: int64(2), object(8)
memory usage: 488.0+ MB

In [9]:
df.head()

,Bici,Ciclo_Estacion_Arribo,Ciclo_Estacion_Retiro,Edad_Usuario,Fecha_Arribo,Fecha_Retiro,Genero_Usuario,Hora_Arribo,Hora_Retiro,Unnamed: 9
0,11444,36,67,36,01/01/2019,01/01/2019,M,0:14:03,0:08:44,NaN
1,9196,136,55,36,01/01/2019,01/01/2019,M,0:42:11,0:12:05,NaN
2,2612,115,29,38,01/01/2019,01/01/2019,M,0:37:47,0:13:15,NaN
3,7463,115,29,43,01/01/2019,01/01/2019,M,0:38:04,0:13:36,NaN
4,3987,35,136,37,01/01/2019,01/01/2019,M,0:22:47,0:15:30,NaN